{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django proyect</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
    <ul>
        <li {% if request.resolver_match.url_name == 'index' %}class="active"{% endif %}>
            <a href="/">Inicio</a>
        </li>
        
        <li {% if request.resolver_match.url_name == 'about' %}class="active"{% endif %}>
            <a href="{% url 'about' %}">About</a>
        </li>

        {% if user.is_authenticated %}
        
        <li {% if request.resolver_match.url_name == 'publicar' %}class="active"{% endif %}>
            <a href="{% url 'publicar' %}"><b>+ Publicar</b></a>
        </li>
        <li {% if request.resolver_match.url_name == 'editar_preferencias' %}class="active"{% endif %}>
            <a href="{% url 'editar_preferencias' %}">Mis Preferencias</a>
        </li>
        <li>
            <a href="{% url 'signout' %}">Logout</a>
        </li>
        {% else %}
        
        <li {% if request.resolver_match.url_name == 'signup' %}class="active"{% endif %}>
            <a href="{% url 'signup' %}">Signup</a>
        </li>
        
        <li {% if request.resolver_match.url_name == 'signin' %}class="active"{% endif %}>
            <a href="{% url 'signin' %}">Login</a>
        </li>
        {% endif %}

    </ul>
</nav>

<main class="container">
    {% block content %}
    {% endblock %}
</main>
</body>
</html>