{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django proyect</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <nav class="navbar">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="{% url 'projects' %}">Publicaciones</a>
        </li>
        <li>
            <a href="{% url 'create_project' %}">Crear nueva publicacion</a>
        </li>
        <li>
            <a href="{% url 'about' %}">About</a>
        </li>
        <li>
            <a href="{% url 'tasks' %}">Tasks</a>
        </li>
        <li>
            <a href="{% url 'create_task' %}">Create a New Tasks</a>
        </li>
        <li>
            <li>
                {% if user.is_authenticated %}
                    <p>Hola, <strong>{{ user.username }}</strong>!</p>

                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="link-button">Cerrar Sesión</button>
                    </form>

                {% else %}
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                {% endif %}
            </li>
        </li>

    </ul>
</nav>

<main class="container">
    {% block content %}
    {% endblock %}
</main>
</body>
</html>