{% extends 'layout/base.html' %}

{% block content %}


<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ab, eveniet repellendus reprehenderit a totam exercitationem modi saepe sequi quidem. Eligendi, autem laudantium eaque nisi recusandae ducimus sapiente hic. Odio asperiores delectus molestias assumenda sapiente aliquam voluptatum exercitationem, aliquid, eum nostrum illo ad corrupti voluptates! Totam fugit odit nam aperiam! Vero ad ducimus possimus, pariatur incidunt repellendus nisi dolor explicabo error nam? Quidem eius inventore, et totam, cum temporibus debitis delectus minima explicabo hic quaerat asperiores numquam doloribus tempora laudantium quo repellat tempore repellendus dolores necessitatibus, sint maxime magni facere! Hic consectetur eveniet natus iusto blanditiis quas quia ullam enim!</p>

<p>Website created by {{username}}</p>

{% endblock %}